.navbar {
  display: flex;
  gap: 20px;
  background-color: #222;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover {
  color: #4caf50;
}
